<h1> Students</h1>

<p>First name: <%= @student.first_name %></p>
<p>Last name: <%= @student.last_name %></p>
<p>House: <%= @student.house %></p>
<p>age: <%= @student.age %></p>
<!-- <form action="/pizzas/<%= @student.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form> -->
